html {
  background: url(http://www.noahsong.com/noahsite/images/press_back_image1153.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.menu{
	height: 20px;
	width: 60px;
	margin:0 auto;
	display: none;
}
.menu p{
	color: #FFF;
	text-align: center;
}
.sitenav{
	height: 60px;
	width: 100%;
}
.sitenav ul {
	height: 100%;
	width: 760px;
	padding: 0;
	margin:20px 0 0 40%;
}
.sitenav ul li{
	float: left;
	margin-left: 15px;
  text-align: center;
}
.sitenav ul > :first-child{
	margin-left: 0px;
}
.sitenav ul li a{
	color: #E2D5CC;
	font-size: 1.1em;
}
.sitenav ul li a:hover{
	color: orange;
}
 
#page_header{
	clear: all;
	width: 100%;
	margin: 10px 0 0 0;
}
h1{
	text-shadow: 2px 2px 2px #000;
	font-size: 5em;
	color: #A8805E;
	height: 100%;
	width: 652px;
	margin: 0 0 0 40%;
	overflow: visible;
}
ul {
    list-style-type: none;
    padding: 0;
}
body{
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
}
h2{
	text-shadow: 2px 2px 2px #000;
	color: #A8805E;
	font-size: 1.8em;
}
h3{
	font-size: 1.2em;
}
a{
	text-decoration: none;
	color: #A8805E;
}
a:hover{
	color:orange;
}
p{
		font-size: 1em;
}
.records{
	width: 600px;
	height: 300px;
	margin: auto;
}
figcaption{
	width: 300px;

}
figure{
	width: 300px;
	margin: 0 auto;
	float: left;

}
#main{
	display: block;
	top: 50px;
	margin:0 0 0 40%;
	color: #E2D5CC;
	overflow: visible;
	height: 100%;
	width:600px;
	line-height: 1.5;
}
.main{
	margin:auto;
	padding-top: 35px;
	height: 100%;

}
.sitenav #footernav {
	height: 20px;
	display: block
}
#footernav ul{
	width: 350px;
	height: 0px;
	padding-top: 45px;
}
#page_footer{
	height: 20px;
	width: 240px;
	color: #C1A088;
	margin:0 0 0 40%;
	padding-bottom: 10px;
}
button{
	color: #A8805E;
  background: #2E2017;
  border: none;
}
#image-sm{
	display: none;
	border: 0 auto;
}
#news {
  background:  #E2D5CC;
  color: #000;
  position: fixed;
  width: 80%;
  top: 30%;
  left: 50%;
  margin: -15% 0 0 -40%;
  border-radius: 10px;
  -webkit-filter: drop-shadow(0px 5px 10px white);

  /* Embiggen */
  transform: scale(1.5); /* prefix me */

  /* Hidden */
  opacity: 0;
  pointer-events: none;
}
#modal{
	margin:10px;
}
.dialogIsOpen #page-wrap {

  /* Blur and de-color */
  /*-webkit-filter: blur(5px) grayscale(50%);
  -moz-filter: blur(5px);*/
  filter: blur(3px);
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: url(blur.svg#blur);
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');


  /* Recede */
  /*-webkit-transform: scale(0.9);
  -moz-filter:scale(0.9);
*/
}
.dialogIsOpen #news {

  /* Regular size and visible */
  transform: scale(1); /* prefix me */
  opacity: 1;

  /* Clickable */
  pointer-events: auto;

}

#page-wrap, #modal {

  transition: all 1s ease; /* prefix me */

}
body {
  /* Use at your own discretion */
  -webkit-transform: translateZ(0);
}


@media all and (max-width: 1200px) and (min-width: 640px) {
 html {
  background: url(http://www.noahsong.com/noahsite/images/press1.jpg) no-repeat left top fixed;
  background-color: #2E2017;
  }
  #page_header{
	}
	h1{
		font-size: 2.8em;
		margin: 0 auto 0 35%;
		width: auto;
	}
	.sitenav ul{
		margin-left: 50px;
	}
	.sitenav ul li{
		text-align: center;
	}
	#footernav ul{
 	margin-left: 180px;
	}
	h2{
		font-size: 2em;
		height: 100%;
	}
	.main{
			padding:0	;
	}
	#main{
		width: auto;
		margin: 0 auto 0 35%;
	}	
	#page_footer{
		margin: 0 auto;
	}

}


@media all and (max-width: 639px) {
 html {
  background: none;
  background-color: #2E2017;
  }
  header{
  }
  #page_header{
	}
	#page_header header{
		height: 75px;
	}
	.menu{
		margin-top: 5px;
		display:block;
		width: auto;
	}
	.menu :hover{
		color: orange;
	}
	h1{
		font-size: 2.8em;
		text-align: center;
		margin: 0;
		width: 100%;
	}
	h2{
		font-size: 2em;
		text-align: center;
		height: 100%;
	}
	#main{
		width: auto;
		margin: 0 auto;
	}
	.main{
		padding:0 30px;
	}
	.topnav{
	display: none;
	}
	.sitenav{
	height: 200px;
	}
	.sitenav ul {
		width: auto;
		margin: 0 auto;
	}
	.sitenav ul li{
		float: none;
		margin: 0;
	}
	#image-sm{
		display: block;
	}
	#image-sm img{
		margin: 0 auto;
	}
	#page_footer{
		clear: both;
		margin: 0 auto;
	}
	.records{
	height: 420px;
	width: 200px;
	margin: auto;
	}
	#news {
  top: 7%;
  pointer-events: none;
	}

}
